
<form method="GET" action="/formulario">
    <button class="botao" id="cadastrar" type="submit" onsubmit="" >CADASTRAR CERTIDÃO</button>
</form>

<form method="GET" action="/pesquisar"> 
    <button class="botao" id="pesquisar" type="submit" onsubmit="" >PESQUISAR CERTIDÃO</button>     
</form>

